# main flask
flask
requests
# python .env reading
python-dotenv
# forms
flask-wtf
# database
flask-sqlalchemy
flask-migrate
# azure db connection
pyodbc
# read sql tables
pandas
# login
flask-login
# facelift website
flask-bootstrap